
<ion-header hidden>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<div style="height:10vh;float:left;width:100%;"></div>

<div class="logo">
    <img src="assets/image/logo.png">
   </div>

   <div style="height:5vh;float:left;width:100%;"></div>

   <div class="signin_field">
   <form #heroForm="ngForm"  novalidate>

        <ion-list>
         <ion-item>
            <ion-input type="text" placeholder="Phone Number" [(ngModel)]="data.phone" name="phone" #phone="ngModel"  required  pattern='[0-9]+'></ion-input>
          </ion-item>
            <div *ngIf="phone.errors && (phone.dirty || phone.touched)" class="alert alert-danger">
          <div [hidden]="!phone.errors.required" class="alert alert-danger">
            Phone Number is required
            </div>
             <div [hidden]="!phone.errors.pattern" class="alert alert-danger">
            Enter a valid Phone Number
            </div>
          </div>  
      
           <ion-item>
            <ion-input type="password" placeholder="Password" [(ngModel)]="data.password" name="password" #password="ngModel"  required></ion-input>
          </ion-item>
            <div *ngIf="password.errors && (password.dirty || password.touched)" class="alert alert-danger">
          <div [hidden]="!password.errors.required" class="alert alert-danger">
            Password is required
            </div>
          </div>   
      
      </ion-list>

      <button ion-button type="submit" [disabled]="!heroForm.valid" (click)="onSubmit(heroForm)">sign in</button>

      </form>

      <a class="forgot" (click)="forgot()">forgot password?</a>

<div style="height:6vh;float:left;width:100%;"></div>

      <ion-grid style="padding:0px;">
          <ion-row>
            <ion-col col-6 style="padding:0px;"><button ion-button class="white" (click)="fblogin()">Login with Facebook</button></ion-col>
            <ion-col col-6 style="padding:0px;"><button ion-button class="yellow" (click)="googlepppppp()">Login with Google+</button></ion-col>
          </ion-row>
        </ion-grid>

        <!-- <a (click)="vsignup()" class="signup_line">Don't have an account? Sign Up</a> -->
        <a (click)="signup()" class="signup_line">Don't have an account? Sign Up</a>
        
      </div>

</ion-content>
