<ion-header>

  <ion-navbar>
    <ion-buttons start>
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
<div style="height:10vh;float:left;width:100%;"></div>
  
  <div class="logo">
      <img src="assets/image/logo.png">
     </div>
  
     <div style="height:5vh;float:left;width:100%;"></div>
  
     <div class="signin_field">
     <form #heroForm="ngForm"  novalidate>
  
     <ion-list>

       <!--<ion-item>
            <ion-input type="password" placeholder="Enter Old Password" [(ngModel)]="data.opassword" name="opassword" #opassword="ngModel"  required></ion-input>
          </ion-item>
            <div *ngIf="opassword.errors && (opassword.dirty || opassword.touched)" class="alert alert-danger">
          <div [hidden]="!opassword.errors.required" class="alert alert-danger">
            Old Password is required
            </div>
             </div>  -->
           <ion-item>
            <ion-input type="password" placeholder="Enter New Password" [(ngModel)]="data.newpassword" name="newpassword" #newpassword="ngModel"  required></ion-input>
          </ion-item>
            <div *ngIf="newpassword.errors && (newpassword.dirty || newpassword.touched)" class="alert alert-danger">
          <div [hidden]="!newpassword.errors.required" class="alert alert-danger">
            New Password is required
            </div>
             </div>  
              <ion-item>
            <ion-input type="password" placeholder="Confirm New Password" [(ngModel)]="data.cpassword" name="cpassword" #cpassword="ngModel"  required></ion-input>
          </ion-item>
            <div *ngIf="cpassword.errors && (cpassword.dirty || cpassword.touched)" class="alert alert-danger">
          <div [hidden]="!cpassword.errors.required" class="alert alert-danger">
            Confirm Password is required
            </div>
             </div>  
        
        
        </ion-list>
  
        <button ion-button type="submit"  (click)="onSubmit(heroForm)">Confirm</button>
  
        </form>


        </div>
</ion-content>
