page-tab3 {
  
    .wide-as-needed {
        white-space: nowrap;
      }
      .scroll { 
        min-width: 100%;
      }
      
      ion-segment {
          display: block;
          white-space: nowrap;
          font-size: 0;
           overflow-x:scroll;
      
          &::-webkit-scrollbar {
              width: 0;
              height: 0;
              display: none;
          }
      
          ion-segment-button.segment-button {
              display: inline-block;
              min-width: 100px;
              width: auto;
          }
      }
      
      .seg{
          background: #fff;
          float: left;
          width: 100%;
      }
      
      .seg .segment .segment-button{
          border: 0px;
          border-bottom: 3px solid #ccc;
          color: #8e9595;
          font-size: 10px;
          height: 4.2rem;
          line-height: 4rem;
          text-transform: capitalize;
          font-family: Lora;
          padding: 0 3px;
      }
      
      .seg .segment .segment-button.segment-activated {
          border-color: #e5053a !important;
          opacity: 1;
          background: transparent;
          color: #e5053a !important;
          
      }
      
      .seg .segment .segment-button:hover:not(.segment-activated) {
          background-color: rgba(229, 5, 58, 0.1);
      
      }
      
      .actin button {
        height: 22px;
        border-radius: 5px;
        margin: 0 0 5px 0;
        padding: 0 9px;
        color: #e5053a;
      border-color: #e5053a;
      }
      
      .actin button:hover {
      color: #fff;
      background: #feb483 !important; /* Old browsers */
      background: -moz-linear-gradient(left, #feb483 1%, #ff9980 42%, #fe8884 69%, #ff8b8c 100%) !important;; /* FF3.6-15 */
      background: -webkit-linear-gradient(left, #feb483 1%,#ff9980 42%,#fe8884 69%,#ff8b8c 100%) !important;; /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, #feb483 1%,#ff9980 42%,#fe8884 69%,#ff8b8c 100%) !important;; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feb483', endColorstr='#ff8b8c',GradientType=1 ) !important;; /* IE6-9 */
      border-color: #ff9980;
      }
      
      .actin button span {
        font-size: 11px;
      }
      .actin {
        float: left;
        width: 98%;
        margin: auto 8px;
      }
      
      .nme h4{
          font-family: Lora-Regular;
      }
      
      .nme.item ion-avatar img {
          width: 50px;
          height: 50px;
          border: 1px solid #e5053a;
      }
      
       .nme.item ion-avatar {
      position: absolute;
      top: 8px;
      right: 0;
      }
      
      .spec, .real p{
          font-size: 13px;
          line-height: 1.3;
          color: #8a8a8a;
      }
      
      
      .px{
      
          width: 100%;
          height: 200px;
          overflow: hidden;
          position: relative;
      }
      
      .px img {
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          margin: auto;
          height: 100%;
          width: 100%;
      }
      
      
      .real h3 {
          color: #e5053a;
      }
      
      .real h3 span {
          color: #696767;
      }
      
      .real a {
          float: right;
          width: auto;
          color: #e5053a;
          font-family: lora;
          font-size: 11px;
      }
      
      .px .button .icon {
        padding: 0px 3px;
        font-size: 21px;
        color: #fff;
      }
      
      ion-fab-list[side="left"] {
          margin: 0 50px;
      }
      
      .fb{background: transparent;}
      .fb:focus{background: transparent;}
      
      .fab-in-list {
          color: #fff;
          background: #feb483 !important; /* Old browsers */
      background: -moz-linear-gradient(left, #feb483 1%, #ff9980 42%, #fe8884 69%, #ff8b8c 100%) !important;; /* FF3.6-15 */
      background: -webkit-linear-gradient(left, #feb483 1%,#ff9980 42%,#fe8884 69%,#ff8b8c 100%) !important;; /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, #feb483 1%,#ff9980 42%,#fe8884 69%,#ff8b8c 100%) !important;; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feb483', endColorstr='#ff8b8c',GradientType=1 ) !important;; /* IE6-9 */
      }
      
      
      .pic {
        position: relative;
        height: 50px;
        overflow: hidden;
        width: 100%;
      }
      .pic img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        border-radius: 5px;
      }
      
      .main ion-col{padding: 2px;}
      
      .cnt {
          padding: 8px 8px;
      }
      
      .cnt .card-title {
          font-size: 16px;
          margin: 0;
          padding: 0px 0 0;
          font-family:Lora-Regular;
      }
      
      .cnt p {
          font-size: 12px;
          line-height: 16px;
          color: #7b7676;
          font-family: roboto;
      }
      
      .cnt h4{font-family: Lora-Regular !important;}
      
      .stars {
          padding: 0;
          margin: 0;
      }
      
      .stars li {
          display: inline-block;
      }
      
      .stars li .active {
          color: #fec12b;
      }
      
      .bg {
          float: left;
          width: 100%;
      }
      
      .date {
        width: 100%;
        float: left;
      }
      .date h4:nth-child(1) {
        float: left;
        width: auto;
        font-size: 12px;
      }
      .date h4:nth-child(2) {
        float: right;
        width: auto;
        font-size: 12px;
      }
      
      .id .item{padding-left: 0px;min-height: 30px;}
      
      .id .item .item-inner{padding-right: 0px !important;}
      
      .id .input .text-input{text-align: center;font-size: 12px;margin: 0px 8px;}
      
      .bg.list .item-input:last-child {
          border-bottom: 0px;
      }
      
      .id .button {
          height: auto;
          text-transform: capitalize;
          padding: 0;
          box-shadow: none;
          margin: 5px 0;
          color: #fff;
      background: #feb483 !important; /* Old browsers */
      background: -moz-linear-gradient(left, #feb483 1%, #ff9980 42%, #fe8884 69%, #ff8b8c 100%) !important;; /* FF3.6-15 */
      background: -webkit-linear-gradient(left, #feb483 1%,#ff9980 42%,#fe8884 69%,#ff8b8c 100%) !important;; /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, #feb483 1%,#ff9980 42%,#fe8884 69%,#ff8b8c 100%) !important;; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feb483', endColorstr='#ff8b8c',GradientType=1 ) !important;; /* IE6-9 */
      border-color: #ff9980;
      border-radius: 4px;
      }
      
      .id .button .button-inner{
      font-size: 12px;
      padding: 6px 8px;
      font-family: Roboto;
      font-weight: normal;
      }
      
      .typ {
          float: left;
          width: 100%;
          max-width: 100%;
          position: relative;
          padding: 12px 8px 0px 8px;
      }
      
      .cnt.all {
          position: relative;
      }
      
      .status {
          position: absolute;
          top: 4px;
          right: 8px;
          width: auto;
          background: linear-gradient(330deg, #feb483 1%, #ff9980 42%, #fe8884 69%, #ff8b8c 100%);
          background-clip: border-box;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      }
      
      .comp.id ion-col h3 {
           color: #000;
          font-size: 11px;
      }
      
      .comp ion-col {
          font-size: 10px;
          color: #000;
      }
      
      .comp ion-col h3 {
          margin: 0;
          font-family: Lora-Regular;
          font-size: 10px;
          text-align: center;
          color: #fe8c83;
          text-transform: capitalize;
      }
      
      .comp.id {
          border-bottom: 1px solid #ccc;
      }
}

